%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% ========================================================================
%% Copyright (c) 2016 T. R. Burghart.
%%
%% Permission to use, copy, modify, and/or distribute this software for any
%% purpose with or without fee is hereby granted, provided that the above
%% copyright notice and this permission notice appear in all copies.
%%
%% THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
%% WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
%% MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
%% ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
%% WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
%% ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
%% OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
%% ========================================================================

{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            no_auto_import,
            warn_export_all,
            warn_obsolete_guard,
            warnings_as_errors
        ]}
    ]},
    {develop, [
        {erl_opts, [
            debug_info,
            {d, rrr_develop},
            no_auto_import,
            warn_export_all,
            warn_obsolete_guard,
            warnings_as_errors
        ]},
        % Running dialyzer on a rebar plugin from within rebar causes all
        % sorts of suffering, so I run it externally and don't bother with
        % a configuration clause for it here at all.

        % Xref, on the other hand, is usable as long as rebar is invoked by
        % the emulator directly, which I do in development, so setting it up
        % here is still simpler than running it externally.
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]}
]}.
